.faq {
	&:nth-child(n + 2) {
		border-top: 1px solid #e8e8e9;
	}

	>a {
		border: none;
		display: block;
		font-size: 24px;
		line-height: 30px;
		@include font(sour, reg);

		cursor: pointer;
		position: relative;
		padding: 37px 0 36px;
		border-top: 1px solid rgb(40 28 60 / 0.12);

		&::after {
			position: absolute;
			content: "";
			width: 30px;
			height: 30px;
			right: 0;
			top: 37px;

			@include transition(all, 0.4s, ease-in-out);

			display: block;
			// background-image: url(../images/faq-plus-icon.svg);
			background-repeat: no-repeat;
			background-position: center;
		}

		&:hover,
		&:focus-visible {
			color: var(--wp--preset--color--black);
			border-top: 1px solid rgb(40 28 60 / 0.12);

			&::after {
				// background-image: url(../images/plus-hover.svg);
			}
		}

		&.active {
			padding-bottom: 24px;
			color: var(--wp--preset--color--black);

			&::after {
				// background-image: url(../images/faq-minus-icon.svg);
			}
		}
	}
}

.faq-content {
	display: none;
	border-top: 0;
	padding-bottom: 33px;
	// max-width: 475px;

	ul {
		li {
			&:last-of-type {
				margin: 0;
			}
		}
	}

	p {
		font-size: var(--fc_font_size_18);
		@include font(sour, reg);

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.top-latters-area {

	a,
	a:visited {
		display: inline-block;
		width: 44px;
		height: 44px;
		box-sizing: border-box;
		border-radius: 50%;
		border: 1px solid rgb(40 28 60 / 0.2);
		text-transform: uppercase;
		font-size: var(--fc_font_size_16);
		line-height: 22px;

		@include font(sour, reg);

		padding: 10px;
		color: var(--wp--preset--color--black);
		margin: 0 4px 12px 0;
		text-align: center;

		&:hover,
		&:focus-visible {
			border: 1px solid rgb(40 28 60 / 0.6);
		}
	}
}

.letter-box {
	float: left;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-transform: uppercase;
	text-align: center;
	padding: 7px;
	box-sizing: border-box;
	background-color: rgb(40 28 60 / 0.04);
	font-size: 15px;
	line-height: 20px;

	@include font(sour, reg);
}

.glossary-content {
	padding: 24px 0;
	border-bottom: 1px solid rgb(40 28 60 / 0.12);

	&:last-child {
		border-bottom: 0;
	}
}

.faq-with-image {
	display: flex;
	flex-wrap: wrap;
	gap: 50px;
}

.faq-with-image-variation {
	align-items: start;
	gap: 4%;
	justify-content: space-between;

	.faq-head {
		background-image: none;
	}
}

.faq-image {
	width: 40%;

	img {
		// aspect-ratio: 635/444;
		max-height: 542px;
		// min-height: 225px;
	}
}

.faq-image-variation {
	width: 21%;

	img {
		height: 50%;
	}

	.faq-image {
		width: 100%;
		margin-bottom: 40px;
	}

	p {
		line-height: 1.5;
		margin-bottom: 0;
	}
}

.faq-items {
	width: 55.8%;

	&.only-one-faq-style {
		background-color: #00000021;

		.faq-number {
			opacity: 0 !important;
		}

		.faq-head {
			background-image: url(../images/default-pattern-orange.png);

		}
	}


}

.faq-items-variation {
	width: 70%;
}

.faq-head {
	display: flex;
	padding: 30px 70px 36px 0;
	box-sizing: border-box;
	position: relative;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	align-items: center;
	gap: 30px;
	background-image: url(../images/default_pattern.png);

	&.active {
		padding: 30px 70px 14px 0;
		background-image: none !important;

		.faq-icon {
			background-color: var(--fc_white);
			box-shadow: 0 10px 20px 0 rgba(255, 255, 255, 0.5);

			svg {

				path,
				rect {
					fill: var(--fc_black);
				}
			}
		}
	}

	&:hover {
		.faq-icon {
			background-color: var(--fc_white);
			box-shadow: 0 10px 20px 0 rgba(237, 255, 250, 0.5);

			svg {

				path,
				rect {
					fill: var(--fc_black);
				}
			}
		}
	}

	.heading-5,
	.faq-number {
		font-size: var(--fc_font_size_26);
		margin: 0;
		color: var(--fc_white);
		@include font(sour, bold);
	}
}

.faq-icon {
	background-color: var(--fc_transparent);
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	right: 0;
	top: 27px;
	transition: all 0.3s ease-in-out;

	svg {
		width: 13px;
		height: 13px;
		margin: 0;
		transition: all 0.3s ease-in-out;

		path,
		rect {
			transition: all 0.3s ease-in-out;
			fill: var(--fc_white);
		}
	}
}

.simple-faq {
	.faq-items {
		width: 100%;
	}
}

.simple-faq {
	.faq-content {
		max-width: 100%;
	}
}

.faq-with-image {
	position: relative;

	&::after {
		content: "";

		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		width: 74.5%;
		left: auto;
		right: -20px;
		background-image: url(../images/default_pattern.png);
		pointer-events: none;
		z-index: -1;
	}
}

// Accordian plugins css

.plethoraplugins-accordion.plethoraplugins-theme__minimal.plethoraplugins-theme__tabby {
	border: none;
	background-color: transparent;

	.ctn-green {
		padding: 0;
	}

	.icons-three-columns {
		row-gap: var(--fc_space_72);
	}

	.pds-accordion__title {
		.rich-text mark {
			margin-right: 20px;
		}
	}
}

.faq-with-image {
	.faq-head {
		background-image: none;
	}
}

.simple-faq {
	.faq-head {
		padding: 30px 70px 36px 36px;
	}

	.faq-icon {
		right: 15px;
	}
}

.faq-content {
	ul {
		li {
			&::before {
				background-color: white;
			}
		}
	}
}

.iat-content {
	p {
		span {
			color: var(--fc_white) !important;
		}
	}

	a.button,
	a.button:visited,
	span.button,
	.is-style-mycustomstyle .wp-element-button {
		background-color: var(--fc_white);
		color: var(--fc_orange);
		border-color: var(--fc_white);

		&:hover {
			background-color: transparent;
			color: var(--fc_white);
		}
	}
}

.simple-faq .faq-content {
	padding: 0 36px 33px;
	box-sizing: border-box;
}