.highlight-quote {
	position: relative;
	font-size: var(--fc_font_size_26);
	font-weight: 700;
	border-bottom: 5px solid var(--fc_white);
	border-top: 1px solid var(--fc_border_3);
	border-left: 1px solid var(--fc_border_3);
	border-right: 1px solid var(--fc_border_3);
	padding: 50px 100px 50px 40px;
	blockquote {
		max-width: 887px;
		color: var(--fc_white);
		padding: 0;
		border: none;
		margin: 0;
	}
	&.orange-bg {
		background-color: var(--fc_orange_dark);
		border-color: var(--fc_orange_dark);
		&::after {
			bottom: 90px;
		}
		p,
		blockquote {
			color: var(--fc_white);
			font-size: var(--fc_font_size_26);
			text-align: initial;
		}
		cite {
			font-size: var(--fc_font_size_12);
			color: var(--fc_white);
			font-style: normal;
			text-transform: initial;
			&::after,
			&::before {
				display: none !important;
			}
		}
	}
	&.tag-science {
		&::after {
			background-image: url(../images/link.svg);
		}
		p,
		blockquote {
			color: var(--fc_white);
			font-size: var(--fc_font_size_26);
			text-align: initial;
		}
	}
	&::after {
		position: absolute;
		content: "";
		top: auto;
		bottom: 49px;
		right: 40px;
		background-image: url(../images/quote-icon.svg);
		background-repeat: no-repeat;
		width: 70px;
		height: 57px;
		filter: brightness(0) saturate(100%) invert(82%) sepia(94%)
			saturate(31%) hue-rotate(140deg) brightness(115%) contrast(100%);
	}

	p {
		font-size: 18px;
		text-align: justify;
	}
}
.map-block {
	.wp-block-media-text__media {
		width: 100%;
		margin: 0;
	}
}

.icons-grid.two-variation {
	.icon {
		width: 50px;
		height: 50px;
		margin: 0;
	}
	.column {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
	}
}
.icons-grid-content {
	width: 80%;
}
body.logged-in {
	.category-nav {
		top: 99px;
	}
}
