.icons-grid {
	.icon {
		margin-bottom: 10px;
	}
	.kicker {
		font-size: 12px;
		padding-top: 10px;
	}

	.heading-4 {
		margin-bottom: 0;
	}

	p {
		font-size: var(--fc_font_size_16);
		margin-top: 10px;
		margin-bottom: 0;
	}
}

.icons-grid-variation {
	.column {
		padding-right: 10%;
	}
}
