.icons-grid {


	.kicker {
		font-size: 12px;
		padding-top: 10px;
	}

	.heading-4 {
		margin-bottom: 0;
	}

	p {
		margin-top: 10px;
		margin-bottom: 0;
	}
}

.icons-grid-variation {
	.column {
		padding-right: 10%;
	}
}