// image positions

.image-at-left {
	.iat-content {
		order: 2;
	}
}

.iat-content {
	position: relative;
	width: 46%;
}

.iat-image {
	width: 50%;
	aspect-ratio: 650/425;
}

.image-alongside-text {
	.kicker {
		font-size: 12px;
	}

	h2 {
		font-size: var(--fc_font_size_60);
	}

	.iat-image {
		img {
			width: 100%;
		}
	}
}

.image-alongside-text-variation {
	// p,
	// .person-info {
	// 	font-size: var(--fc_font_size_20_16);
	// }

	.double-comma {
		color: var(--fc_orange);
		position: absolute;
		top: -65px;
		left: -60px;
	}

	.person-info {
		color: var(--fc_orange);
	}
}

.iat-two-image {
	.iat-image {
		display: flex;
		flex-wrap: wrap;
		gap: 30px;

		&::before,
		&::after {
			display: none;
		}
	}

	.iat-single-image {
		width: 47.2%;

		img {
			aspect-ratio: 302/444;
		}
	}
}

.iat-button {
	line-height: 0.65;
}

.introduction-team {
	display: flex;
	flex-wrap: wrap;

	align-items: center;

	.introduction-team-left {
		width: 50%;
		display: flex;
		justify-content: flex-end;
		position: relative;
		top: 30px;

		.section-head {
			max-width: 650px;

			.hero-split-text {
				font-size: var(--fc_font_size_160);
				left: -15%;
			}
		}
	}
}

.introduction-team-image {
	width: 39.7%;
	display: flex;
	margin-left: auto;
}

.pie-container {
	transition: padding 0.7s ease;
	padding: 0% 13%;

	.row {
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
}

#pieChart {
	max-width: none !important;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;

	svg {
		overflow: visible;
		transition: width 0.7s ease;
		margin: 0;
	}

	path {
		cursor: pointer;
	}

	// inner-radius value sent to javascript
	counter-reset: break-point 80;
}

#pieText {
	//border: 1px dotted;
	overflow: visible; // to see shadow
	//white-space: nowrap;

	display: flex;
	flex-direction: column;
	justify-content: center;
	//align-items: center;

	.panel {
		background-color: rgb(255 255 255 / 9%);
		backdrop-filter: blur(10px);
		-webkit-backdrop-filter: blur(10px);
		width: 100% !important;
		height: 60%;
		border-radius: 7px;
		box-sizing: border-box;
		padding: 30px 20px;
		float: left;
		transition:
			height 0.7s ease,
			padding 0.7s ease;
		perspective: 650px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		text-align: left;
	}
}

.content-wrapper {
	overflow: hidden;
	transform-style: preserve-3d;
}

// Responsive Text Mixin

@function strip-unit($number) {
	@if type-of($number)=="number" and not unitless($number) {
		@return $number / ($number * 0 + 1);
	}

	@return $number;
}

// Responsive text mixin
@mixin responsiveText($minSize,
	$maxSize: 28px,
	$minWidth: 450px,
	$maxWidth: 900px) {
	$mxS: strip-unit($maxSize);
	$mnS: strip-unit($minSize);
	$mxW: strip-unit($maxWidth);
	$mnW: strip-unit($minWidth);

	font-size: calc(#{$minSize} + (#{$mxS} - #{$mnS}) * (100vw - #{$minWidth}) / (#{$mxW} - #{$mnW}));

	@media screen and (max-width: $minWidth) {
		font-size: $minSize;
	}

	@media screen and (min-width: $maxWidth) {
		font-size: $maxSize;
	}
}

#segmentTitle,
#segmentText {
	text-align: left;
}

#segmentImage {
	height: 45px;
	margin-bottom: 15px;
}

#segmentTitle {
	//width: 100%;
	transition: padding 0.7s ease;
	@include responsiveText(19px, 35px, 200px, 1314px);
}

#segmentText {
	width: 100%;
	transition:
		padding 0.7s ease,
		line-height 0.7s ease;
	@include responsiveText(14px, 21px, 200px, 1314px);
	line-height: 28px;
	margin: 0;
}

// Extra small devices (small phones, less than 360px)
@media (max-width: 360px) {
	div.pie-container {
		padding: 10px 12%;

		#pieChart {
			counter-reset: break-point 40;

			svg {
				width: 100%;
			}
		}

		#pieText {
			margin-top: 15px;

			.panel {
				height: 230px;
				padding: 0;

				#segmentTitle {
					padding: 2px 4px 4px;
				}

				#segmentText {
					padding: 2px 4px 4px;
					line-height: 16px;
				}
			}
		}
	}
}

@media (min-width: 360.02px) and (max-width: 442px) {
	div.pie-container {
		padding: 10px 10%;

		#pieChart {
			counter-reset: break-point 53;

			svg {
				width: 70%;
			}
		}

		#pieText {
			margin-top: 15px;

			.panel {
				height: 250px;
				padding: 0;

				#segmentTitle {
					padding: 4px;
				}

				#segmentText {
					padding: 4px;
					line-height: 18px;
				}
			}
		}
	}
}

// Small/XS devices (portrait phones, less than 576px)
@media (min-width: 442.02px) and (max-width: 575.98px) {
	div.pie-container {
		padding: 10px 10%;

		#pieChart {
			counter-reset: break-point 60;

			svg {
				width: 70%;
			}
		}

		#pieText {
			margin-top: 15px;

			.panel {
				height: 200px;
				padding: 0;

				#segmentTitle {
					padding: 4px;
				}

				#segmentText {
					padding: 0 4px 4px;
					line-height: 21px;
				}
			}
		}
	}
}

// Small devices (smart phones/notebook phone, less than 638px wide)
@media (min-width: 576px) and (max-width: 637.98px) {
	div.pie-container {
		padding: 10px 12%;

		#pieChart {
			counter-reset: break-point 70;

			svg {
				width: 60%;
			}
		}

		#pieText {
			margin-top: 20px;

			.panel {
				padding: 0;
				height: 205px;

				#segmentTitle {
					padding: 8px;
				}

				#segmentText {
					padding: 0 8px 8px;
					line-height: 24px;
				}
			}
		}
	}
}

// Bootstrap col-md Breakpoint at 767px
@media (min-width: 638px) and (max-width: 767px) {
	div.pie-container {
		padding: 10px 15%;

		#pieChart {
			counter-reset: break-point 80;

			svg {
				width: 60%;
			}
		}

		#pieText {
			margin-top: 20px;

			.panel {
				padding: 0 3px;
				height: 270px;

				#segmentTitle {
					padding: 15px;
				}

				#segmentText {
					padding: 15px;
					line-height: 27px;
				}
			}
		}
	}
}

// Medium-Small Devices (tablets and smaller, 767px to 965px)
@media (min-width: 767.02px) and (max-width: 965px) {
	div.pie-container {
		padding: 10px 4%;

		#pieChart {
			counter-reset: break-point 50;
		}

		#pieText .panel {
			height: 82%;
			padding: 0;

			#segmentTitle {
				padding: 8px;
			}

			#segmentText {
				padding: 0 8px 8px;
				line-height: 23px;
			}
		}
	}
}

// Medium-Large Devices (laptop, 965px to 1314px)
@media (min-width: 965.02px) and (max-width: 1314px) {
	div.pie-container {
		padding: 10px 5%;

		#pieChart {
			counter-reset: break-point 60;
		}

		#pieText .panel {
			height: 70%;

			#segmentTitle {
				padding: 10px;
			}

			#segmentText {
				padding: 5px 10px 10px;
			}
		}
	}
}

// Large Monitors (Smaller than mine)
@media (min-width: 1314.02px) and (max-width: 1480px) {
	div.pie-container {
		padding: 10px 8%;

		#pieChart {
			counter-reset: break-point 70;
		}

		#pieText .panel {
			#segmentText {
				padding-top: 10px;
			}
		}
	}
}

@media (min-width: 768px) {
	.col-md-5 {
		flex: 0 0 41.666667%;
		max-width: 41.666667%;
	}

	.col-md-7 {
		flex: 0 0 54%;
		max-width: 54%;
	}
}

.single-image {
	.iat-single-image {
		width: 100% !important;
	}
}