.project-info-images {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	width: 74.5%;

	.project-info-single-image {
		width: 31.2%;
	}
}

.project-info {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.project-info-content {
	width: 23%;

	.heading-2 {
		font-size: var(--fc_font_size_26);
		margin-bottom: 24px;
	}

	.heading-3 {
		margin-bottom: 21px;
		font-size: var(--fc_font_size_26);
	}

	p {
		font-size: var(--fc_font_size_18);

		&:last-child {
			margin: 0;
		}
	}

	.info-single-detail {
		p {
			display: inline-block;
			font-size: 14px;
			line-height: 2em;
			letter-spacing: 0.1em;
			font-weight: 500;
			margin: 0 7px 6px 0;
			color: var(--fc_white);
			text-transform: uppercase;

			a,
			a:visited {
				color: var(--fc_white);
				border-bottom: none;
				opacity: 0.7;

				&:hover,
				&:focus-visible {
					border-bottom: none;
					opacity: 1;
					color: var(--fc_orange_dark);
				}
			}
		}
	}
}

.project-info-single {
	&:nth-child(n + 2) {
		margin-top: 44px;
	}
}

.contact-block {
	.wp-block-media-text__content {
		p {
			display: block;
			font-size: 14px;
			line-height: 2em;
			letter-spacing: 0.1em;
			font-weight: 500;
			margin: 0 7px 6px 0;
			color: var(--fc_black_2);
			text-transform: uppercase;

			a,
			a:visited {
				color: var(--fc_black_2);
				border-bottom: none;

				&:hover,
				&:focus-visible {
					border-bottom: none;
					color: var(--fc_orange_dark);
				}
			}
		}
	}
}

.faq-image-variation {
	.heading-3 {
		font-size: var(--fc_font_size_48);
	}
}

.jobs-items {
	margin-top: 0;

	.category-image-card {
		cursor: initial;
	}

	.category-image-card .single-image-content {
		padding: 30px;
	}

	.category-single-right .category-image-card {
		margin-top: 0;

		&:nth-child(n + 2) {
			margin-top: 30px;
		}

		// &:nth-child(n + 3) {
		// 	.single-image-content{
		// 		position: initial;
		// 	}
		// }
	}

	// .category-single-right .single-image img{
	// 	aspect-ratio: initial;
	// }
}

.contact-person-card {

	.link-green,
	.link-green.phone {

		img {
			max-width: 28px;
		}
	}

	.link-green {
		a {
			color: var(--fc_white);

			&:hover {
				color: var(--fc_orange_dark);
			}
		}
	}

	&.member-contact-info {
		margin-top: 20px;
		column-gap: 15px;
	}
}

.category-single-button {
	margin-top: 30px;
	width: 100%;

	a,
	a:visited {
		width: 100%;
		text-align: center;
	}
}

.service-text {
	ul {
		margin-top: 20px;
		margin-bottom: 0;

		li {
			&:last-of-type {
				padding-bottom: 0;
				margin-bottom: 0;
			}
		}
	}
}

.author-image {
	width: 100%;
	height: 100%;
	line-height: 0.65;
	margin-bottom: 20px;

	img {
		width: 200px;
		height: 200px;
	}
}

.jobs-items {
	.category-single-left {
		top: 67px;
	}
}

.reveal-content {
	position: absolute;
	inset: 0;
	margin: 0;
	padding: 0;
	z-index: 1;
	color: white;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(0 0 0 / 70%);
	font-size: var(--fc_font_size_45);
	opacity: 0;
	transition: 0.3s ease-in-out;

	.button {
		margin: 0;
		pointer-events: none;
	}

	h3,
	h4 {
		margin: 0;
	}

	h4 {
		font-size: var(--fc_font_size_38);
	}
}

.iat-single-image,
.team-member-image {

	a,
	a:visited {
		display: block;
		position: relative;

		&:hover {
			.reveal-content {
				opacity: 1;
			}
		}
	}
}

.team-member-image {
	position: relative;

	.reveal-content {
		z-index: 0;
	}

	&:hover {
		.reveal-content {
			opacity: 1;
		}
	}
}