.section-head-simple {
	max-width: 100%;

	h2 {}

	.shd-text {
		word-break: break-word;
	}
}

.what-we-offer-section {

	position: relative;

	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 60.3%;
		height: 100%;
		background-color: #f8f8f90a;
		z-index: -1;
	}
}

.what-we-offer {
	padding: var(--fc_space_96) 0;
	box-sizing: border-box;


	.section-head-simple {
		margin-bottom: var(--fc_space_48);
	}

	.column {
		.icon {
			margin-bottom: 20px;
		}

		p {
			max-width: 300px;
		}
	}
}

.applicants-questions {
	display: flex;
	flex-wrap: wrap;
	background-color: white;
}

.applicants-image {
	width: 60.3%;

	video {
		margin-bottom: 0;
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
}

.applicants-content {
	width: 38%;
	padding: var(--fc_space_200) var(--fc_space_128);
	box-sizing: border-box;
	background-color: white;
	color: var(--fc_color_primary);

	.heading-3 {
		color: var(--fc_color_primary);
	}
}