.services-block {
	.section-head {
		margin-bottom: calc(var(--fc_space_72) - 12px);

		.heading-2 {
			font-size: var(--fc_font_size_80);

			margin-bottom: 0;
			text-transform: uppercase;
		}
	}
}

.service-single-item {
	a,
	a:visited {
		min-height: 225px;
		display: block;
		border: 1px solid #e8e8e9;
		border-bottom: 3px solid var(--fc_white);
		padding: 35px 32px;
		box-sizing: border-box;
		transition: all 0.3s ease-in-out;

		&:hover {
			background-color: var(--fc_color_primary);
			border: 1px solid #e8e8e9;

			border-bottom: 3px solid var(--fc_orange_dark);

			.small-text,
			.service-title {
				color: var(--fc_white);

				.heading-4 {
					color: var(--fc_white);
				}
			}

			.plus-button {
				background-color: var(--fc_orange_dark);
				color: var(--fc_white);
			}
		}

		.small-text {
			font-size: 12px;
			color: #e3e3e3;
			text-transform: uppercase;
			line-height: 1.3;
			letter-spacing: 0.1em;
			transition: all 0.3s ease-in-out;
		}

		.service-title {
			@include font(sour, bold);
			transition: all 0.3s ease-in-out;

			font-size: var(--fc_font_size_26);
			color: var(--fc_color_primary);
		}

		.plus-button {
			width: max-content;
			border-radius: 2px;
			font-size: 20px;
			padding: 10px 20px;
			color: var(--fc_white);
			background-color: transparent;
			transition: all 0.3s ease-in-out;
			margin-top: var(--fc_space_48);
		}
	}
}

.logos-items {
	margin-top: var(--fc_space_48);

	a,
	a:visited {
		border: none;
		text-decoration: none;
		display: flex;
		align-items: center;
	}
}

.logo-item-single {
	position: relative;
	overflow: hidden;
	line-height: 0;
	max-width: 160px;

	img {
		transition: all 0.3s ease-in-out;
		filter: brightness(0) invert(1);
		width: auto;
		max-height: 88px;

		&:nth-child(2) {
			position: absolute;
			top: 0;
			left: 0;
			width: auto;
			transform: translate(0, -100%);
			filter: none;

			filter: brightness(0) invert(1);
		}
	}

	&:hover {
		img {
			transform: translateY(100%);
			filter: brightness(0) saturate(100%) invert(49%) sepia(79%)
				saturate(2862%) hue-rotate(10deg) brightness(99%) contrast(98%);

			&:nth-child(2) {
				transform: translate(0, 0);
			}
		}
	}
}

.logos-section {
	padding: var(--fc_space_48) 0 var(--fc_space_48);
	box-sizing: border-box;

	&.variation {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		row-gap: 30px;
		padding: 0;
		align-items: center;

		.logos-items {
			width: 55%;
			margin: 0;
			align-items: center;
		}

		.section-head {
			width: 35%;
		}
	}
}

.tabbed-content-head {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-end;

	.heading-2 {
		margin: 0;
	}
}

.image-tabs {
	.tabbed-map-content-inner {
		margin-top: var(--fc_space_36);
	}

	.tabbed-map-nav {
		ul {
			gap: 40px;

			li {
				a,
				a:visited {
					color: var(--fc_white);
					font-size: var(--fc_font_size_18);
					padding: 0;
					border: none;

					&.active {
						color: var(--fc_orange_dark);
					}
				}
			}
		}
	}

	.tabbed-content-single {
		max-width: 100%;
	}
}

// .single-image-card {
// 	position: relative;
// 	overflow: hidden;
// 	cursor: pointer;

// 	.single-image img {
// 		width: 100%;
// 		height: 100%;
// 		object-fit: cover;
// 		transition: transform .5s ease;
// 		display: block;
// 	}

// 	.single-image-content {
// 		position: absolute;
// 		inset: 0;
// 		background: rgba(0, 0, 0, 0.55);
// 		display: flex;
// 		flex-direction: column;
// 		justify-content: flex-end;
// 		align-items: flex-start;
// 		padding: 44px 24px;
// 		box-sizing: border-box;
// 		opacity: 0;
// 		transform: translateY(20px);
// 		transition: all .45s ease;
// 		color: #fff;
// 	}

// 	.small-text {
// 		font-size: 12px;
// 		letter-spacing: 2px;
// 		margin-bottom: 6px;
// 	}

// 	.service-title {
// 		font-size: 20px;
// 		font-weight: 600;
// 	}

//

// 	&:hover {
// 		.single-image img {
// 			transform: scale(1.1);
// 		}
// 		.single-image-content {
// 			opacity: 1;
// 			transform: translateY(0);
// 		}
// 	}
// }
.single-image-card {
	position: relative;
	overflow: hidden;
	cursor: pointer;

	.single-image img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition:
			transform 0.6s ease,
			filter 0.6s ease;
		display: block;
	}

	.single-image-content {
		position: absolute;
		inset: 0;
		padding: 20px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		background-color: white;
		transition: all 0.55s ease-in-out;
		opacity: 0;
		color: #fff;
		border: 1px solid #e8e8e9;
		border-bottom: 4px solid var(--fc_color_primary);
	}

	.small-text {
		font-size: 12px;
		letter-spacing: 1px;
		margin-bottom: 4px;
		color: var(--fc_black);
		opacity: 0;
		transform: translateY(10px);
		transition: all 0.5s ease 0.2s;
	}

	.service-title {
		font-size: 22px;
		font-weight: 600;
		transition: all 0.5s ease 0.5s;
		color: var(--fc_color_primary);
		opacity: 0;
		transform: translateY(10px);
	}

	.plus-button {
		width: max-content;
		border-radius: 2px;
		font-size: 20px;
		padding: 10px 20px;
		color: var(--fc_white);
		background-color: var(--fc_orange);
		opacity: 0;

		transform: translateY(10px);
		margin-top: var(--fc_space_20);
		transition: all 0.5s ease 0.8s;
	}

	&:hover {
		.single-image img {
			transform: scale(1.08);
			filter: blur(2px) brightness(0.9);
		}

		.single-image-content {
			opacity: 1;

			.small-text,
			.service-title,
			.plus-button {
				opacity: 1;
				transform: translateY(0);
			}
		}
	}
}

.map-alongside-media {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	.wp-block-media-text__content {
		padding: 0;
		width: 48%;
	}
}

figure.wp-block-media-text__media {
	width: 48%;
}

.services-logo {
	position: absolute;
	inset: 0;
	margin: auto;
	width: 110px;
	height: 110px;
	line-height: 0.65;
	top: auto;
	right: 20px;
	left: auto;
	bottom: 20px;

	img {
		width: 100%;
	}
}

.apprentice-block {
	.hero-split-text {
		z-index: 0;
	}
}

.play-button {
	display: flex;
	align-items: center;
	gap: 15px;
	font-size: 16px;
	letter-spacing: 0.02em;
	font-weight: 500;
	color: #fff;

	svg {
		margin: 0;

		fill: var(--fc_white);
	}

	a,
	a:visited {
		width: 64px;
		height: 64px;
		margin: 0;
		background-color: var(--fc_color_primary);
		padding: 0;
		border: none;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.feature-block.apprentice-block {
	min-height: 525px;
	padding-top: 60px;
	box-sizing: border-box;
}

.single-service-hero-section {
	position: relative;
	padding-bottom: 100px;
	.service-logo {
		position: absolute;
		bottom: 90px;
		right: 0;
		z-index: 1;
		/* initial state */
		transform: translateX(0);
		transition: transform 0.6s ease-in-out;
		&.left-side {
			right: auto;
			transform: translateX(-120%);
			bottom: 0;
		}
		img {
			max-width: 330px;
			width: 100%;
			height: 100%;
		}
	}
}

body.shrink {
	.single-service-hero-section {
		.service-logo {
			/* swipe to right */
			transform: translateX(120%);
			&.left-side {
				transform: translateX(0);
			}
		}
	}
}
