.two-columns-content-tile {
	padding: calc(var(--fc_space_72) - 4px) calc(var(--fc_space_72) + 5px)
		calc(var(--fc_space_72) + 2px) calc(var(--fc_space_72) + 6px);
	box-sizing: border-box;
	position: relative;
	border-radius: 12px;
	background-color: var(--fc_color_primary);
	overflow: hidden;

	* {
		color: var(--fc_white);
	}

	.columns-content-tile-title {
		font-size: var(--fc_font_size_30);
	}
	ol {
		padding-left: 0;

		li {
			padding-left: 26px;

			&:before {
				color: var(--fc_white);
			}
		}
	}

	&::before {
		content: "";
		width: 190px;
		height: 250px;
		position: absolute;
		top: auto;
		bottom: -10px;
		right: 30px;
		background-image: url(../images/icon-tiles.svg);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		filter: brightness(0) saturate(100%) invert(100%) sepia(0%)
			saturate(5765%) hue-rotate(161deg) brightness(96%) contrast(92%);
		opacity: 0.15;
	}
}

.two-columns-content-tiles {
	&.two-columns {
		gap: 4%;
		row-gap: 30px;
	}
}
