@media only screen and (min-width: 1300px) and (max-width: 1440px) {
	.blog-subposts {
		gap: 20px;
	}
	.blog-subposts .blog-subpost {
		max-width: 370px;
	}
	.company-value-chart .item.content-main {
		padding: 30px;
	}

	.company-value-chart .item.content-main .heading-4 {
		font-size: 28px;
	}

	.company-value-chart .item.company-value-chart {
		padding: 97px 20px;
	}

	.project-management-block .item:nth-child(1) {
		padding: 50px 40px;
	}

	.project-design {
		grid-template-columns: 620px 1fr 1fr;
	}
}

@media only screen and (min-width: 1300px) and (max-width: 1630px) {
	.introduction-team .introduction-team-left .section-head {
		max-width: 608px;
	}

	.introduction-team .introduction-team-left .section-head .hero-split-text {
		top: -38px;
		left: -5%;
		font-size: 110px;
		line-height: 0.8;
	}

	.section-head-simple {
		.kicker-text {
			font-size: 14px;
		}

		.heading-3 {
			font-size: 60px;
		}
	}

	.blog-teaser-slider::before {
		width: 62.1vw;
	}

	// .header-nav {
	// 	gap: 20px;
	// }
	.applicants-content {
		// padding: var(--fc_space_200) 40px;
	}

	.what-we-offer::after {
		left: -55.5vw;
		width: 100vw;
	}

	// .applicants-image {
	// 	width: 50%;
	// }

	.introduction-team .introduction-team-left {
		padding: 2% 0;
		padding-left: 5.5%;
		box-sizing: border-box;
	}

	.applicants-content {
		// width: 50%;
		padding: 78px 60px 95px;

		.heading-2 {
			font-size: 60px;
		}
	}

	.feature-block.apprentice-block {
		min-height: 400px;
	}
}

@media only screen and (min-width: 1600px) and (max-width: 1870px) {
	.ctn-container-bg .wrapper {
		background-size: contain;
	}
}

@media only screen and (min-width: 1400px) and (max-width: 1599px) {
	.ctn-container-bg .wrapper {
		background-size: contain;
		// background-image: url(../images/background-container-shape-1.png);
	}
}

@media only screen and (min-width: 1100px) and (max-width: 1299px) {
	.project-design {
		grid-template-columns: 48vw 1fr 1fr;
	}

	.project-management-block .item:nth-child(1) {
		padding: 50px 50px;
	}

	.company-value-chart .item.company-value-chart {
		padding: 111px 20px;
	}

	.company-value-chart .item.content-main {
		padding: 40px 20px;
	}

	.company-value-chart .item.content-main .heading-4 {
		font-size: 30px;
	}

	.company-value-chart .item.content-main p {
		margin-bottom: 20px;
	}

	.introduction-team .introduction-team-left {
		padding-left: 5%;
	}

	.introduction-team .introduction-team-left .section-head .hero-split-text {
		top: -80px;
		left: -5%;
		font-size: 110px;
	}

	.what-we-offer {
		padding: 50px 0;
	}

	.applicants-content {
		padding: 50px 40px;
	}

	.feature-block.apprentice-block {
		min-height: 325px;
	}
}

@media only screen and (min-width: 1180px) and (max-width: 1344px) {
	.cfuchs-heading-ghost {
		left: -1%;
	}
	.blog-subposts {
		gap: 15px;
	}
	.blog-subposts .blog-subpost {
		max-width: 330px;
	}
	.logo {
		min-width: 220px;
	}
}
@media only screen and (min-width: 1004px) and (max-width: 1099px) {
	.cfuchs-heading-ghost {
		left: -1%;
	}
	.header-nav ul li a,
	.header-nav ul li a:visited,
	.header-nav ul li span.menu-link {
		font-size: 12px;
	}
	.logo {
		width: 13%;
		min-width: 202px;
	}
	.project-design .content {
		padding: 40px 30px;
	}

	.project-design {
		grid-template-columns: 440px 1fr 1fr;
	}

	.project-management-block .item:nth-child(1) {
		padding: 50px 40px;
	}

	.company-value-chart .item.content-main .heading-4 {
		font-size: 25px;
		margin-bottom: 15px;
	}

	.company-value-chart .item.company-value-chart {
		padding: 160px 20px;
	}

	.company-value-chart .item.content-main {
		padding: 40px 20px;
	}

	.company-value-chart .item.content-main p {
		margin-bottom: 16px;
	}

	.applicants-image {
		width: 49%;
	}

	.applicants-content {
		width: 51%;
		padding: var(--fc_space_200) 50px;
	}

	.feature-block.apprentice-block {
		min-height: 325px;
	}
}

@media only screen and (min-width: 1346px) and (max-width: 1800px) {
	.contact-block-form form {
		max-width: 580px;
	}

	.gallery-slider {
		.prev {
			left: 0;
		}

		.next {
			right: 0;
		}

		.gallery-slide {
			width: 60%;
		}
	}

	.project-info-content {
		width: 46%;
	}

	.project-info-images {
		width: 50%;

		.project-info-single-image {
			width: 46.6%;
		}
	}

	.counter-background {
		left: -25px;
	}

	.media-with-text-image-text {
		bottom: 3%;
	}

	.iat-two-image .iat-image {
		gap: 20px;

		.iat-single-image {
			width: 47.5%;
		}
	}

	.stats-variation .stats-column {
		width: 46%;
	}

	.offering-block-content {
		width: 45%;
	}

	.slide .heading-2 {
		font-size: 68px;
	}

	.hero-split-text {
		margin: 35px auto 0;
	}

	.slide .home-hero-content {
		width: 90%;
	}

	// .bottom-section {
	// 	margin-top: calc(var(--fc_space_128) - 75px);
	// }

	// .slide:nth-child(5) .hero-split-text {
	// 	margin: 35px auto 0;
	// }

	.slide:nth-child(5) .bottom-section {
		margin-top: calc(var(--fc_space_128) - 75px);
	}

	.media-with-text-image-text {
		bottom: 3%;
	}
}

@media only screen and (min-width: 1180px) and (max-width: 1345px) {
	.contact-block-form form {
		max-width: 90%;
	}

	.gallery-slider {
		.prev {
			left: 0;
		}

		.next {
			right: 0;
		}

		.gallery-slide {
			left: 50%;
			width: 58%;
		}
	}

	.project-info-content {
		width: 46%;
	}

	.project-info-images {
		width: 50%;

		.project-info-single-image {
			width: 46.6%;
		}
	}

	.stats-column {
		width: 24%;
	}

	.counter-background {
		left: -25px;
	}

	.media-with-text-image-text {
		bottom: 3%;
	}

	.iat-two-image .iat-image {
		gap: 20px;

		.iat-single-image {
			width: 47.5%;
		}
	}

	.stats-variation .stats-column {
		width: 46%;
	}

	.offering-block-content {
		width: 47%;
	}

	.faq-image {
		width: 42%;
	}

	.faq-items {
		width: 53.2%;
	}

	.faq-content {
		max-width: 415px;
	}

	.faq-icon {
		right: 0;
	}

	.slide .home-hero-content {
		width: 90%;
	}

	.slide:nth-child(5) .hero-split-text {
		margin: 20px auto 0;
	}

	.slide:nth-child(5) .bottom-section {
		margin-top: calc(var(--fc_space_128) - 70px);
	}

	.media-with-text-image-text {
		bottom: 3%;
	}
}

@media only screen and (min-width: 1004px) and (max-width: 1179px) {
	.faq-items {
		width: 50%;
	}

	.contact-block-form form {
		max-width: 90%;
	}

	.gallery-slider {
		height: 500px;

		.btn {
			width: 60px;
			height: 60px;
		}
	}

	.gallery-slider {
		.prev {
			left: 0;
		}

		.next {
			right: 0;
		}

		.gallery-slide {
			left: 50%;
			width: 58%;
		}
	}

	.project-info-content {
		width: 46%;
	}

	.project-info-images {
		width: 50%;

		.project-info-single-image {
			width: 46.6%;
		}
	}

	.stats-column {
		width: 25.2%;
	}

	.counter-background {
		left: -25px;
	}

	.media-with-text-image-text {
		bottom: 3%;
	}

	.iat-two-image .iat-image {
		gap: 20px;

		.iat-single-image {
			width: 47.5%;
		}
	}

	.stats-variation .stats-column {
		width: 46%;
	}

	.faq-image {
		width: 44.3%;
	}

	.faq-content {
		max-width: 415px;
	}

	.faq-icon {
		right: 0;
	}

	.slide .home-hero-content {
		padding-top: 150px;
		width: 90%;
	}

	.slide:nth-child(5) .bottom-section {
		margin-top: calc(var(--fc_space_128) - 20px);
	}

	.offering-block-content {
		width: 46%;
	}
}

@media only screen and (min-width: 1360px) and (max-width: 1500px) {
	.section-head .hero-split-text {
		line-height: 0.8;
		top: -78px;
	}
}

@media only screen and (min-width: 1003px) and (max-width: 1080px) {
	.introduction-team-left {
		padding-left: 5vw;
		box-sizing: border-box;
	}
	.section-head .hero-split-text {
		top: -116px;
	}
}

@media only screen and (min-width: 1004px) and (max-width: 1345px) {
	.faq-image-variation {
		width: 30%;
	}

	.faq-items.faq-items-variation {
		width: 65%;
	}

	.blog-teaser-slider {
		&::before {
			display: none;
		}

		.slick-arrow {
			top: auto;
			bottom: 20px;
			left: 0;

			&.slick-next {
				left: auto;
				right: 0;
			}
		}
	}

	.blog-teaser-slider {
		padding: 50px 0 120px;
	}
}

@media only screen and (min-width: 1004px) {
	// .offering-block-image img {
	// 	aspect-ratio: 1 / 1.3;
	// }
	.has-no-icon .testimonial-item-content {
		width: 100%;
	}
}

@media only screen and (max-width: 1003px) {
	.faq-with-image-variation .faq-image-variation {
		width: 100%;
	}

	.blog-subposts .blog-subpost:nth-child(n + 4) {
		margin-top: 0;
	}

	body.shrink .single-service-hero-section .service-logo.left-side {
		transform: translateX(20px);
	}

	.blog-slider-image-slider {
		.slick-prev,
		.slick-next {
			display: none !important;
		}
	}

	.blog-info-top {
		gap: 8px;
	}

	.blog-subpost-bottom {
		gap: 10px;
	}

	.bottom-right {
		gap: 10px;
	}
	.blog-sub-page {
		.hero-slide-item {
			min-height: 365px;
		}
		.heading-2 {
			top: 0 !important;
		}
		p {
			margin: 0 !important;
		}
	}
	.project-design .content {
		padding: 40px 30px;
	}
	.images-items {
		.single-image-card .service-title {
			font-size: 30px;
			color: var(--fc_white);
		}
		.single-image-card .plus-button {
			margin-top: 40px;
		}
		.single-image-card .small-text {
			font-size: 14px;
		}
	}

	.feature-block.apprentice-block {
		min-height: 330px;
		padding-top: 40px;
	}

	.applicants-image {
		width: 100%;
	}

	.applicants-content {
		width: 100%;
		padding: 50px 5.5%;
	}

	.what-we-offer::after {
		display: none;
	}

	.introduction-team .introduction-team-left {
		width: 100%;
		padding: 80px 5.5% 30px;
		box-sizing: border-box;
		justify-content: flex-start;
	}

	.introduction-team-image {
		width: 100%;
	}

	.services-logo {
		width: 100px;
		height: 100px;
		right: 10px;
		bottom: 10px;
	}

	.filter-search__label {
		color: #e11c2a;
		width: 32px;
	}

	.filter__header {
		display: none;
	}

	.breadcrumbs__inner {
		width: 90%;
		margin: 0 auto;
	}

	.feature-block.variation p {
		max-width: 100%;
	}

	.member-popup-inner .close-icon {
		right: 20px;
		top: 20px;
		width: 40px;
		height: 40px;
	}

	.member-popup-inner {
		overflow-y: scroll;
		height: 100dvh;
	}

	.member-popup-right-inner {
		padding: 40px 24px 40px;
		width: 100%;
		overflow-y: scroll;
	}

	.member-popup-left {
		width: 100%;
		aspect-ratio: 1/1;
		height: max-content;
	}

	.member-popup-right {
		width: 100%;
	}

	.two-columns-content-tile {
		padding: 30px 24px;
	}

	.contact-block-content p {
		display: block;
		letter-spacing: 1px;
		font-size: 16px;
	}

	.contact-block-form form {
		max-width: 100%;
	}

	.contact-block-form {
		width: 90%;
		float: initial;
		padding: 30px 0 0;
		box-sizing: border-box;
		margin: 0 auto;

		form {
			p {
				&:last-of-type {
					margin: 0;
				}
			}
		}
	}

	.contact-block-content {
		width: 100%;
		margin: 30px auto 0;
		float: initial;
		padding: 40px 4%;
	}

	.blog-teaser-slider {
		&::before {
			display: none;
		}

		.slick-arrow {
			top: auto;
			bottom: 20px;
			left: 0;

			&.slick-next {
				left: auto;
				right: 0;
			}
		}
	}

	.blog-teaser-slider {
		padding: 50px 0 120px;
	}

	.gallery-slider {
		height: 300px;

		.btn {
			width: 40px;
			height: 40px;
			padding: 10px;
		}
	}

	.gallery-slider {
		.prev {
			left: 0;
		}

		.next {
			right: 0;
		}

		.gallery-slide {
			left: 50%;
			width: 77%;
		}
	}

	.stats-items.stats-variation {
		row-gap: 40px;
	}

	.stats-variation .stats-column .stats-number {
		min-width: 130px;
		min-height: 130px;
	}

	.stats-column .stats-number {
		font-size: 60px;
	}

	.stats-column span {
		font-size: 35px;
	}

	.stats-variation .stats-column {
		width: 100%;
		gap: 20px;
		flex-wrap: wrap;
		justify-content: center;
		text-align: center;
	}

	.project-info-content {
		width: 100%;
	}

	.project-info-single:nth-child(n + 2) {
		margin-top: 34px;
	}

	.project-info-images {
		width: 100%;
		gap: 20px;

		.project-info-single-image {
			width: 100%;
		}
	}

	.stats-items {
		row-gap: 130px;
	}

	.counter-background {
		left: calc(50% - 150px);
		font-size: 160px;
	}

	.stats-column {
		width: 100%;
		justify-content: center;
		gap: 15px;
	}

	.faq-head {
		gap: 20px;
	}

	.iat-two-image {
		.iat-image {
			gap: 20px;
		}

		.iat-single-image {
			width: 100%;

			img {
				aspect-ratio: 322 / 294;
			}
		}
	}

	.media-with-text-image-text {
		bottom: 5%;
	}

	.testimonial-variation.swiper {
		padding: 0 0 60px;

		.testimonial-single-content {
			padding-top: 0;
		}

		.swiper-pagination {
			bottom: 0 !important;
		}
	}

	.project-management-block {
		display: flex;
		flex-wrap: wrap;

		.item {
			width: 100%;
		}
	}

	.company-value-chart .item.simple-text {
		padding: 40px 24px;
	}

	.company-value-chart .item {
		width: 100%;
		min-height: 340px;
	}
	.project-management-block .item:nth-child(1) .content .heading-3 {
		font-size: 46px;
	}

	.company-value-chart .item.content-main {
		padding: 30px 24px;
	}

	.project-management-block .item:nth-child(1) {
		padding: 20px 24px;
		min-height: 374px;
	}

	.map-block-main .item {
		width: 100%;
		min-height: 374px;

		&:nth-child(2) {
			width: 100%;
		}
	}

	.project-design {
		display: flex;
		flex-wrap: wrap;

		.item {
			width: 100%;
			min-height: 374px;
		}
	}
}

@media only screen and (min-width: 748px) and (max-width: 1003px) {
	.about-us-box {
		p {
			&:last-of-type {
				margin: 0;
			}
		}
	}
	.cfuchs-tl-row {
		padding-bottom: 45px !important;
	}
	.cfuchs-tl-rail {
		padding-bottom: 0px !important;
	}
	.cfuchs-heading-ghost {
		left: -2% !important;
		font-size: 80px !important;
	}
	.blog-subposts .blog-subpost {
		margin-bottom: 30px;
		max-width: 315px;
	}
	.header-logo a {
		height: 100px;
	}
	.gallery-slider {
		height: 450px;
	}

	.section-head .hero-split-text {
		top: calc(-36px - var(--fc_font_size_80));
		opacity: 0.4;
		font-size: 98px;
	}

	.hero-inner-slider .hero-split-text,
	.hero-project .hero-split-text {
		top: -86px;
	}

	// .home-hero-content {

	// 	.hero-split-text {
	// 		margin-top: 14%;
	// 	}
	// }

	.faq-image {
		width: 100%;
	}

	.faq-with-image {
		gap: 30px;
	}

	.faq-icon {
		right: 0;
	}

	.media-with-text-content-box {
		max-width: 450px;
	}

	.faq-items {
		width: 100%;
	}

	.testimonial-variation.swiper {
		&::before {
			display: none;
		}

		.swiper-slide {
			gap: 40px;
		}
	}

	.offering-block {
		gap: 30px;
	}

	.offering-block-content {
		width: 100%;
	}

	.offering-block-left {
		width: 100%;

		.author-tag {
			margin-top: 20px;
		}
	}

	.tabbed-map-nav ul {
		gap: 40px;
	}

	.testimonial-slider {
		padding-bottom: 38px;
	}

	.testimonial-item {
		border-color: transparent;
	}

	.slide .home-hero-content {
		padding-top: 150px;
		width: 90%;
	}

	.slide:nth-child(5) .bottom-section {
		margin-top: 70px;
	}

	.slide:nth-child(5) .hero-split-text {
		margin: 35px auto 0;
	}
}

@media only screen and (min-width: 460px) and (max-width: 747px) {
	.home-hero-content {
		.hero-split-text {
			margin-top: 30%;
		}
	}
}

@media only screen and (min-width: 621px) and (max-width: 747px) {
	.section-head .hero-split-text {
		top: -85px;
		opacity: 0.4;
	}
}

@media only screen and (min-width: 578px) and (max-width: 620px) {
	.section-head .hero-split-text {
		position: absolute;
		top: -75px;
		left: -19px;
		opacity: 0.4;
	}
}

@media only screen and (max-width: 747px) {
	.hero-inner-slider .banner-content .banner-content-inner,
	.hero-project .banner-content .banner-content-inner {
		position: relative;
		top: 0;
	}
	.jobs-items .category-image-card .single-image-content {
		padding: 16px;
	}
	.service-text ul {
		margin-top: 10px;
		margin-bottom: 0;
		li {
			margin-bottom: 8px;
			font-size: 13px;
			&:last-of-type {
				margin: 0;
			}
		}
	}
	.cfuchs-tl-node[data-type="secondary"] .cfuchs-tl-label {
		top: calc(50% + 16px) !important;
	}
	.cfuchs-tl-node[data-type="main"] .cfuchs-tl-label {
		top: -49px !important;
	}
	.cfuchs-tl-node[data-type="secondary"] .cfuchs-tl-year {
		margin-top: -43px !important;
	}
	.blog-single-post-content {
		margin-top: 20px;
	}
	.cfuchs-section {
		padding-bottom: 20px !important;
	}
	.cfuchs-tl-row {
		padding: 96px 0 42px !important;
	}
	.cfuchs-tl-modal__close {
		margin: 0 !important;
	}
	.cfuchs-tl-modal__title {
		font-size: 20px !important;
	}
	.cfuchs-tl-modal__desc {
		font-size: 14px !important;
	}
	.cfuchs-tl-modal__year {
		font-size: 42px !important;
	}
	.cfuchs-tl-modal__body {
		padding: 20px !important;
	}
	.cfuchs-container + .cfuchs-container {
		margin-top: 30px !important;
	}
	.cfuchs-heading-ghost {
		font-size: 68px !important;
	}
	.services-block .section-head {
		gap: 20px;
		flex-wrap: wrap;
	}
	.hero-home.slides .slide:nth-child(3n + 2) .bottom-section,
	.hero-home.slides .slide:nth-child(3n + 2) .top-section {
		left: calc(50% + 15px);
	}
	.simple-faq .faq-head {
		padding: 30px 60px 36px 18px;
	}
	.simple-faq .faq-content {
		padding: 0 0 30px;
	}
	.header-section .header-logo a.fuchs-logo {
		transform: scale(0.8) translateY(0px);
	}
	.section-head {
		flex-wrap: wrap;
	}
	.head-right-section {
		margin-bottom: 30px;
	}
	.logo {
		&::before {
			display: none;
		}
	}

	.icons-grid-content {
		width: 100%;
	}

	.icons-grid.two-variation .icon {
		width: 50px;
		height: 50px;
		margin: 0 auto;
	}

	.fuchs-chart-block .chart-center {
		width: 115px;
		height: 115px;
	}

	.logos-section.variation .section-head {
		width: 100%;
	}

	.logos-section.variation .logos-items {
		width: 100%;
	}

	.chart-label {
		&:nth-of-type(5) {
			bottom: -19% !important;
		}
	}

	.ctn-container-bg .wrapper {
		border-width: 20px;
	}

	.map-alongside-media {
		row-gap: 30px;

		.wp-block-media-text__content {
			width: 100%;
		}
	}

	figure.wp-block-media-text__media {
		width: 100%;
	}

	.hero-buttons {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;

		.button {
			width: 100%;
			margin: 0;
		}
	}

	.single-image-card {
		aspect-ratio: 340/340;

		.single-image {
			width: 100%;
			height: 100%;
		}
	}

	.image-tabs {
		.tabbed-content-head {
			row-gap: 20px;

			.tabbed-map-nav {
				width: 100%;
				overflow-x: auto;
				overflow-y: hidden;
				-webkit-overflow-scrolling: touch;
				scrollbar-width: thin;
				scrollbar-color: rgba(0, 0, 0, 0.25) transparent;
				padding-bottom: 10px;

				&::-webkit-scrollbar {
					height: 4px;
				}

				&::-webkit-scrollbar-track {
					background: transparent;
				}

				&::-webkit-scrollbar-thumb {
					background: rgba(0, 0, 0, 0.25);
					border-radius: 50px;
				}

				&::-webkit-scrollbar-thumb:hover {
					background: rgba(0, 0, 0, 0.35);
				}

				ul {
					display: flex;
					gap: 15px;
					width: max-content;
					padding-right: 5px;
				}
			}
		}
	}

	.fuchs-chart-block .label-bottom {
		bottom: -6px;
	}

	.fuchs-chart-block .label-top {
		top: -6px;
	}

	.image-tabs .tabbed-map-content-inner {
		margin-top: 0;
	}

	.logos-items {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;

		.logo-item-single {
			width: 46%;
		}

		a,
		a:visited {
			width: 46%;

			.logo-item-single {
				width: 100%;
				max-width: 130px;
			}
		}
	}

	.fuchs-chart-block .label-left {
		left: -9px;
	}

	.service-single-item {
		a,
		a:visited {
			min-height: 160px;
			padding: 25px 20px;

			.plus-button {
				margin-top: 20px;
			}
		}
	}

	.icons-grid-variation .column {
		text-align: center;
		padding-right: 0;
	}

	.map-alongside-media.wp-block-media-text {
		.wp-block-media-text__content {
			padding: 0;
		}

		.wp-block-media-text__content,
		.wp-block-media-text__media {
			grid-column: unset !important;
			grid-row: unset !important;
		}

		.wp-block-media-text__media {
			#map {
				height: 300px;
			}
		}
	}

	.icons-three-columns {
		justify-content: center;
		text-align: center;

		.column {
			padding: 0;
		}
	}

	.highlight-quote {
		font-size: 20px;
		padding: 50px 15px;
	}

	.highlight-quote::after {
		bottom: 20px;
		right: 20px;
		width: 50px;
		height: 47px;
		background-size: contain;
	}

	.wrapper {
		width: 90%;
	}

	.hero-inner-slider .banner-content,
	.hero-project .banner-content {
		width: 90%;
	}

	.contact-block-content p {
		font-size: 14px;

		a.link.email::before {
			width: 18px;
			height: 18px;
			top: 0px;
		}

		a.link.email,
		a.link.phone {
			font-size: 14px;
		}
	}

	.media-with-text.variation .media-with-text-content-box {
		left: 0;
		right: 0;
	}

	.logo-grid {
		row-gap: 15px;
	}

	.single-logo {
		width: 48%;
	}

	.media-with-text-content-box {
		max-width: 100%;
		width: 76.54%;
		left: 0;
		right: 0;
		margin: 0 auto;
		padding: 35px 20px 45px 22px;
		// inset: 0;
		height: max-content;
		margin: auto;

		.heading-2 {
			font-size: 40px;
		}

		p {
			font-size: 18px;
		}
	}

	.media-with-text {
		min-height: 643px;
	}

	.media-with-text-image {
		width: 100%;

		img {
			min-height: 643px;
		}
	}

	.testimonial-item {
		border-color: transparent;
	}

	.faq-icon {
		width: 35px;
		height: 35px;
		top: 24px;
		right: 0;
	}

	.faq-with-image {
		gap: 20px;
	}

	.faq-image {
		width: 100%;
	}

	.faq-items {
		width: 100%;
	}

	.faq-content p {
		font-size: 18px;
	}

	.testimonial-single-content p {
		font-size: 20px;
	}

	.testimonial-variation.swiper {
		&::before {
			display: none;
		}

		.swiper-slide {
			gap: 20px;

			.testimonial-meta .testimonial-name {
				font-size: 26px;
			}
		}
	}

	.testimonial-single-content {
		flex: initial;
		max-width: 100%;
	}

	.offering-button {
		margin-top: 20px;
	}

	.offering-block {
		gap: 30px;
	}

	.offering-block-left {
		width: 100%;

		.author-tag {
			margin-top: 20px;
		}
	}

	.offering-block-content {
		width: 100%;

		a,
		a:visited {
			&.link {
				background-position: top 5px left;
				font-size: 18px;
			}
		}

		p {
			font-size: 18px;
		}
	}

	.tabbed-map-nav ul {
		gap: 20px;
		display: block;

		li {
			a,
			a:visited {
				font-size: 24px;
			}
		}
	}

	.tabbed-content-single {
		#map {
			height: 300px;
		}

		.two-columns {
			row-gap: 50px;
		}

		p {
			font-size: 18px;
		}

		.tabbed-image {
			width: 100%;
		}

		iframe {
			height: 300px;
		}
	}

	.testimonial-slider {
		padding-bottom: 30px;

		.slick-slide {
			margin: 00px;

			.slick-list {
				margin: 0 0px;
			}
		}

		.slick-dots {
			bottom: 0px;
		}
	}

	.testimonial-item-content {
		.heading-3 {
			font-size: 26px;
		}

		p {
			font-size: 18px;
		}
	}

	.hero-slide-image {
		min-height: 580px;
	}

	.section-head {
		.heading-2 {
			word-wrap: break-word;
			font-size: 40px;
		}
	}
	.image-alongside-text .kicker {
		font-size: 14px;
	}
	.image-alongside-text h2 {
		font-size: 40px;
	}

	.blog-teaser-slider .blog-teaser-item {
		margin-right: 0;
	}
	.blog-teaser-slider {
		padding: 10px 0 190px 36px !important;
		width: 110%;
		margin-left: -4.7%;
	}
	.blog-teaser-item .testimonial-image-item img {
		aspect-ratio: 522 / 319;
		min-height: 319px;
		object-fit: cover;
	}
	.blog-teaser-slider .blog-teaser-item p {
		font-size: 18px;
	}
	.banner-content-inner .heading-2 {
		font-size: 43px !important;
	}
	.feature-block.apprentice-block {
		.heading-2 {
			font-size: 45px;
		}
	}
	.applicants-content {
		.heading-3 {
			font-size: 40px;
		}
	}
	.what-we-offer-section {
		&::after {
			display: none;
		}
	}
	.what-we-offer {
		padding: 86px 0;
		.three-columns {
			gap: 58px;
		}
		.column {
			p {
				font-size: 18px;
			}
		}
		.heading-4 {
			font-size: 26px;
		}
		.kicker-text {
			font-size: 14px;
		}
		.size-72 {
			font-size: 40px;
		}
	}
	.introduction-team-left {
		.section-head {
			.heading-2 {
				font-size: 45px;
			}
			p {
				font-size: 20px;
			}
		}
	}
	.banner-content-inner p {
		font-size: 20px;
	}
	.blog-teaser-slider .slick-arrow {
		top: auto;
		bottom: 70px;
		left: 0;
		&.slick-prev {
			left: 30px;
		}
		&.slick-next {
			left: 30px;
			right: 0;
			bottom: 0;
		}
	}
	.blog-teaser-item .testimonial-content-item .heading-3 {
		font-size: 26px;
	}
	.image-alongside-text p {
		font-size: 18px;
	}
	.image-alongside-text {
		flex-direction: column-reverse;
		gap: 57px;
		.iat-image.column {
			margin-top: 0;
		}
	}
	.blog-teaser-slider {
		position: relative;
	}

	.blog-teaser-slider::before {
		content: "";
		position: absolute;
		left: -4px;
		top: 0;
		display: block;
		background-color: var(--fc_green_dark);
		width: 10.7%;

		height: 100%;
		z-index: 2;
	}
	.faq-image-variation {
		width: 100%;
	}
	.testimonial-single-image.mobile-hide {
		display: block !important;
	}

	.single-overview {
		.banner-content {
			.heading-2 {
				font-size: 30px;

				text-wrap: balance;

				br {
					display: none;
				}
			}
		}
	}

	a.button,
	a.button:visited,
	span.button,
	.is-style-mycustomstyle .wp-element-button {
		font-size: 16px;
		padding: 10px 30px;
	}

	.hero-inner-slider,
	.hero-project {
		.hero-split-text {
			top: -110px;
			left: -1%;
			font-size: 62px;
		}

		.banner-content {
			h1 {
				top: -60px;
				font-size: 48px;
			}

			p {
				font-size: 20px;
			}
		}
	}

	.hero-inner-slider {
		.slick-prev,
		.slick-next {
			display: none !important;
		}
	}

	.desktop-hide {
		display: block !important;
	}

	.mobile-hide {
		display: none !important;
	}

	.slide:nth-child(5) .bottom-section {
		margin-top: 140px;
	}

	.slide.active .hero-split-text {
		line-height: 1;
	}

	.has-image .hero-split-text {
		padding: 15px 0px;
	}

	.top-section {
		left: 0;
		position: relative;
	}

	.dots {
		display: none;
	}

	.slides {
		&::after {
			display: none;
		}
	}

	.bottom-section {
		margin-top: 100px;
	}

	.slide:nth-child(5) .hero-split-text {
		margin: 120px auto 0;
	}

	.hero-split-text {
		h2 {
			font-size: clamp(3.516rem, 5.931vw + 1.981rem, 4.75rem);
		}
	}

	.hero-split-text {
		margin-top: 40%;
	}

	.slide .heading-2 {
		font-size: 22.5px;
		letter-spacing: -0.1px;
	}

	.slide .home-hero-content {
		padding-top: 140px;
		width: 92.5%;
	}

	.home-hero-content {
		.kicker {
			display: none;
		}
	}

	.hero-default {
		&.with-image {
			.hero-default-content,
			.hero-default-image {
				width: 100%;
			}
		}
	}

	// at block
	.iat-image.column {
		margin-top: 30px;
	}

	// lists
	ul.children,
	ol.children {
		li {
			&.depth-2,
			&.depth-3,
			&.depth-4,
			&.depth-5 {
				margin: 0 0 30px 20px !important;
			}
		}
	}

	// forms styling
	.gfield.half-input-field,
	.ginput_left,
	.name_first,
	.ginput_right,
	.name_last {
		width: 100%;
		margin-right: 0;
		display: block;
	}

	// Wp Table Block
	figure {
		overflow-x: scroll;

		td,
		th {
			width: 140px;
		}
	}

	.media-with-text-button {
		margin-top: 20px;
	}

	.post-box-img img,
	.post-archive-box-img img {
		aspect-ratio: 2 / 1.3;
	}

	.resources-post-box,
	.post-archive-box-img {
		margin-bottom: 20px;
	}

	.post-archive-box-title.post-title h4 {
		margin-bottom: 10px;
	}

	.size-26-m .heading-2 {
		font-size: 26px;
	}
	.post-box-meta .post-date {
		font-size: 14px;
	}
	.highlight-quote {
		font-size: 20px;
		padding: 50px 53px 50px 15px;
	}
	.highlight-quote.tag-science p,
	.highlight-quote.tag-science blockquote {
		font-size: 20px;
	}
	.blog-subposts {
		gap: 30px;
	}
	.blog-subpost-content {
		margin-top: 20px;
		.heading-3 {
			font-size: 26px !important;
			line-height: 1.1;
		}
		p {
			font-size: 18px;
			margin-bottom: 40px;
		}
	}
}

@media only screen and (max-width: 500px) {
	.logo-grid {
		.single-logo:nth-child(1) {
			width: 100%;
			text-align: center;

			img {
				max-width: 140px;
			}
		}
	}

	.icons-grid {
		.four-columns {
			.column.center-align {
				width: 100%;
				max-width: 100%;

				.icon img {
					width: auto;
					max-height: 60px;
				}
			}
		}
	}
}

@media only screen and (max-width: 440px) {
	.hero-split-text {
		h2 {
			font-size: 60px;
		}
	}
}

@media only screen and (max-width: 359px) {
	.single-logo {
		width: 100%;
	}

	.media-with-text-content-box .heading-2 {
		font-size: 34px;
	}

	.faq-with-image {
		gap: 10px;
	}

	.testimonial-single-content p {
		font-size: 18px;
	}

	.tabbed-map-nav ul {
		gap: 10px 20px;
	}

	.testimonial-item {
		padding: 30px 16px 30px;
	}

	.offering-block-content .heading-2 {
		font-size: 35px;
	}

	.hero-inner-slider .banner-content h1 {
		font-size: 34px;
	}

	.banner-content {
		.hero-buttons {
			display: flex;
			flex-wrap: wrap;
			row-gap: 10px;
		}
	}
}

@media (max-width: 768px) {
	.bottom-section {
		bottom: 30px;
	}
}

@media (max-width: 747px) {
	.faq-head.active {
		padding: 30px 70px 25px 0;
	}

	.section-head-simple {
		.shd-text {
			h2 {
				font-size: 42px;
			}

			br {
				display: none;
			}
		}
	}

	.faq-with-image::after {
		width: 100%;
		left: 0;
		right: 0;
	}

	.bottom-section {
		bottom: 100px;
	}

	.style-for-mac .bottom-section {
		bottom: 120px;
	}

	.full-width-image {
		&.hero-inner-slider {
			.hero-slide-image {
				min-height: max-content;
			}

			.banner-content {
				inset: 0;
				transform: initial;
			}
		}
	}
}

@media only screen and (min-height: 500px) and (max-height: 780px) and (min-width: 1003px) {
	.home-hero-content {
		.heading-2 {
			font-size: clamp(
				52 * 1px,
				28 / 806 * (100vh - 474 * 1px) + 52 * 1px,
				80 * 1px
			);
		}
	}

	.hero-split-text {
		.heading-1 {
			font-size: clamp(
				70 * 1px,
				110 / 806 * (100vh - 474 * 1px) + 70 * 1px,
				180 * 1px
			);
		}
	}
}

@media only screen and (min-height: 1024px) and (max-height: 1380px) and (min-width: 768px) and (max-width: 1024px) {
	.hero-split-text {
		margin: 40% auto 0;
	}
}
