.highlight-quote {
	.highlight-blockquote {
		position: relative;
		font-size: 40px;
		font-weight: 700;
		color: var(--fc_color_primary);
		border-bottom: 5px solid var(--fc_color_primary);
		border-top: 1px solid var(--fc_border_3);
		border-left: 1px solid var(--fc_border_3);
		border-right: 1px solid var(--fc_border_3);
		padding: 50px 100px 50px 50px;

		&::after {
			position: absolute;
			content: '"';
			font-size: 100px;
			top: 30px;
			right: 40px;
			color: var(--fc_orange);
		}
	}

	p {
		font-size: 18px;
		text-align: justify;
	}

}