@media (min-width: 1024px) {

	.header-nav ul li:hover>ul,
	.menu-item-has-children ul.focused,
	.header-nav ul li a:focus-visible+ul {
		opacity: 1;
		visibility: visible;
		overflow: visible;
	}

	.header-nav ul ul {
		animation-delay: 0.6s;
		opacity: 0;
		visibility: hidden;
		overflow: hidden;

		@include transition(all, 0.3s, ease-in-out);
	}
}

.header-nav {
	text-align: center;
	line-height: 1;

	ul {
		margin: 0;
		padding: 0;
		position: relative;

		li {
			margin: 0 ;
			padding: 0;
			display: inline-block;
			position: relative;
			line-height: 1;

			@include font(sour, reg);

			a,
			a:visited,
			span.menu-link {
				padding: 0 0;
				display: inline-block;
				line-height: 1;
				border: 0;
				position: relative;
				color: var(--fc_white);
				font-size: var(--fc_font_size_18);
				@include font(sour, sbold);
				letter-spacing: -.02em;
				line-height: 1.33em;
				border-right: 1px solid var(--fc_white);
				padding: 28px;
				box-sizing: border-box;


			}
			&:nth-child(1){
				a,
				a:visited,
				span.menu-link {
					border-left: 1px solid var(--fc_white);
				}
			}

			span.menu-link {
				cursor: pointer;
			}

			&.menu-item-has-children>a {
				padding-right: 15px;
				background-position: top 6px right;
				background-repeat: no-repeat;
				background-size: 9px;
				background-image: url(../images/submenu-icon.svg);

				&::after {
					width: calc(100% - 15px);
				}
			}

			&.current-menu-item>a,
			&.current-menu-parent>a,
			a:hover,
			span.menu-link:hover {
				color: var(--fc_orange);
				&::after {
					transform-origin: bottom left;
					transform: scaleX(1);
				}
			}
		}

		ul {
			left: -15px;
			width: 230px;
			opacity: 0;
			background-color: var(--fc_header_submenu_bgcolor);
			visibility: hidden;
			padding: 20px 0;
			border-radius: 0;
			position: absolute;
			top: 33px;
			z-index: 9;
			overflow: hidden;
			text-align: left;

			@include transition(all, 0.4s, ease-in-out);

			text-align: left;

			li {
				display: block;
				margin: 0 0 14px;
				padding: 0 15px;

				&:last-child {
					margin: 0;
				}

				a,
				a:visited,
				span.menu-link {
					font-size: 18px;
					display: inline-block;
					padding-bottom: 2px;
					line-height: 1;
					box-sizing: border-box;
					position: relative;
					color: var(--fc_header_submenu_color);

					@include transition(all, 0.3s, ease-in-out);
					@include font(sour, reg);

					&::after {
						bottom: -4px;
					}
				}

				span.menu-link {
					cursor: pointer;
				}

				a:hover,
				span.menu-link:hover {
					color: var(--fc_header_submenu_color_hover);
				}

				&.current-menu-item>a,
				&.current-menu-parent>a,
				a:hover,
				span.menu-link:hover {
					border: 0;

					&::after {
						transform-origin: bottom left;
						transform: scaleX(1);
					}
				}
			}

			ul {
				top: -10px;
				left: 230px;

				&::before {
					display: none;
					content: "";
					width: 1px;
					height: 1px;
					position: absolute;
					top: 12px;
					left: -5px;
					margin: auto;
				}
			}
		}
	}
}

.search-form-new {
	position: fixed;
	overflow: hidden;
	height: 91px;
	top: 79px;
	right: 0;
	left: 0;
	width: 100%;
	z-index: 11;
	transition: 0.3s all ease-in-out;
	border: transparent;
	background-color: var(--fc_color_on_primary);
	display: none;
	border-top: 1px solid var(--fc_border_5);
	border-bottom: 1px solid var(--fc_border_5);
	pointer-events: none;

	input {
		line-height: 1.2;
		letter-spacing: -0.72px;
		margin-bottom: 0;
		border: none;
		font-size: var(--fc_font_size_32);
		height: 91px;
		padding-left: 0;
		color: var(--fc_color_primary);

		&:focus {
			border: none;
		}

		&::placeholder {
			color: var(--cph_black_30);
		}
	}

	&.open {
		display: block;
		pointer-events: initial;
	}

	form {
		width: 95%;
		margin-bottom: 0;
	}

	.search-inner-content {
		max-width: 1300px;
		width: 90%;
		margin: auto;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;

		&--text {
			font-size: 14px;
			@include font(mont, med);
			letter-spacing: -0.28px;
			line-height: 1.2;
			display: none;
		}
	}
}

.search-close {
	width: 39px;
	height: 39px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	line-height: 0.65;
	position: relative;
	top: -9px;
	right: 9px;

	svg {
		margin-bottom: 0;

		.bg-path,
		.bg-path-white,
		g {
			transition: 0.3s all ease-in-out;
		}
	}

	&:hover {
		svg {
			g {
				opacity: 1;
			}

			.bg-path {
				fill: var(--fc_color_primary);
			}

			.bg-path-white {
				fill: var(--fc_color_on_primary);
			}
		}
	}
}


.logged-in.admin-bar{
	.search-form-new{
		top: 100px;
	}
}
.search-icon{
	display: flex;
	align-items: center;
	justify-content: center;
	filter: invert(1);
}
