/****
 *
 * Helper classes
 *
****/

.large-text {
	font-size: var(--fc_font_size_22);
	line-height: 1.3;
}

.small-text {
	font-size: var(--fc_font_size_14);
	line-height: 1;
}

.black-text {
	color: var(--wp--preset--color--black);
}

.white_text {
	color: var(--fc_white);
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}

.center-align {
	text-align: center;
}

.right-align {
	text-align: right;
}

.left-align {
	text-align: left;
}

.text-uppercase {
	text-transform: uppercase;
}

// Text-decoration none
.text-decoration-none {
	text-decoration: none;
}

// flex

.d-flex {
	display: flex;
}

.d-inline-flex {
	display: inline-flex;
}

.flex-row {
	flex-direction: row;
}

.flex-column {
	flex-direction: column;
}

.flex-row-reverse {
	flex-direction: row-reverse;
}

.flex-column-reverse {
	flex-direction: column-reverse;
}

.justify-content-start {
	justify-content: flex-start;
}

.justify-content-end {
	justify-content: flex-end;
}

.justify-content-center {
	justify-content: center;
}

.justify-content-between {
	justify-content: space-between;
}

.justify-content-around {
	justify-content: space-around;
}

.align-items-start {
	align-items: flex-start;
}

.align-items-end {
	align-items: flex-end;
}

.align-items-center {
	align-items: center;
}

.align-items-baseline {
	align-items: baseline;
}

.align-items-stretch {
	align-items: stretch;
}

.align-content-start {
	align-content: flex-start;
}

.align-content-end {
	align-content: flex-end;
}

.align-content-center {
	align-content: center;
}

.align-content-between {
	align-content: space-between;
}

.align-content-around {
	align-content: space-around;
}

.align-content-stretch {
	align-content: stretch;
}

// flex items
.align-self-auto {
	align-self: auto;
}

.align-self-start {
	align-self: flex-start;
}

.align-self-end {
	align-self: flex-end;
}

.align-self-center {
	align-self: center;
}

.align-self-baseline {
	align-self: baseline;
}

.align-self-stretch {
	align-self: stretch;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-no-wrap {
	flex-wrap: nowrap;
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

// background
.bg-cover {
	background-size: cover;
}

.bg-contain {
	background-size: contain;
}

.bg-position-center {
	background-position: center;
}

.bg-no-repeat {
	background-repeat: no-repeat;
}

.bg-repeat {
	background-repeat: repeat;
}

.reset-bg {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

ul.list-none li {
	list-style: none;
	padding-left: 0;

	&::before {
		display: none;
	}
}

.image-cover {
	line-height: 0.65;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

/****
 *
 * Breadcrumbs
 *
****/
#breadcrumbs {
	color: var(--fc_breadcrumb_color);
	text-transform: uppercase;
	margin-bottom: 23px;
	font-size: var(--fc_font_size_14);

	span {
		font-size: var(--fc_font_size_18);

		&.breadcrumb_last {
			font-size: var(--fc_font_size_14);
			font-weight: 500;
			margin-left: 10px;
		}
	}

	a,
	&:visited {
		color: var(--fc_breadcrumb_link_color);
		font-weight: 700;
		margin: 0 10px;
		border-bottom: 1px solid var(--fc_breadcrumb_border_color);
		font-size: var(--fc_font_size_14);

		&:hover,
		&:focus-visible {
			border-bottom: 1px solid var(--fc_breadcrumb_border_color_hover);
		}
	}
}

.single-post #breadcrumbs span span span span span span {
	color: var(--fc_breadcrumb_span_color);
}

.single-post #breadcrumbs span span span span span span a {
	color: var(--fc_breadcrumb_link_color);
}

/****
 *
 * Learn Button
 *
****/
.learn-more {
	color: var(--wp--preset--color--black);

	@include font(sour, bold);
}

/****
 *
 * Theme Buttons
 *
****/
a.button,
a.button:visited,
span.button,
.is-style-mycustomstyle .wp-element-button {
	box-sizing: border-box;
	position: relative;
	display: inline-block;
	overflow: hidden;
	padding: 10px 36px;
	text-decoration: none;
	color: var(--fc_theme_btn_color);
	background-color: var(--fc_color_primary);
	border: 2px solid var(--fc_color_primary);
	transition: all 0.35s ease-in-out;
	margin-right: 13px;
	letter-spacing: 0.5px;
	text-align: center;
	border-radius: 0;
	line-height: 1.5;
	@include font(sour, med);
	font-size: var(--fc_font_size_16);
	text-transform: capitalize;

	&:last-child {
		margin-right: 0;
	}

	&:hover,
	&:focus-visible {
		background-color: var(--fc_transparent);
		border: solid 2px var(--fc_theme_btn_border_color_hover);
		color: var(--fc_theme_btn_color_hover);
	}

	&.transparent-button {
		--fc_theme_btn_color: var(--fc_white);
		--fc_theme_btn_bgcolor: var(--fc_orange);
		--fc_button_border_color: var(--fc_orange);
		background-color: var(--fc_transparent);
		border-color: var(--fc_color_primary);

		&:hover {
			background-color: transparent;
			border-color: var(--fc_white);
			color: var(--fc_white);
		}
	}

	&.orange-button {
		--fc_theme_btn_color: var(--fc_white);
		--fc_theme_btn_bgcolor: var(--fc_orange);
		--fc_button_border_color: var(--fc_transparent);
		background-color: var(--fc_orange);
		border-color: var(--fc_orange);

		&:hover {
			background-color: var(--fc_transparent);
			border-color: var(--fc_white);
			color: var(--fc_white);
		}
	}

	&.blue-button {
		--fc_theme_btn_color: var(--fc_white);
		--fc_theme_btn_bgcolor: var(--fc_blue_3);
		--fc_button_border_color: var(--fc_transparent);

		&:hover {
			box-shadow: rgb(0, 22, 89, 0.5) 0 10px 20px 0;
			background-color: var(--fc_transparent);
			border-color: var(--fc_orange);
			color: var(--fc_white);
		}
	}

	&.header-button {
		background-color: white;
		border-radius: 10px;
		color: var(--fc_black_2);
		border: none;
		padding: 15px 45px 11px;
		font-size: 17px;
		font-weight: 600;

		&:hover {
			border: none;
			background-color: var(--fc_orange);
			color: #ffffff;
		}
	}

	&.outline-btn {
		background-color: transparent;
		color: var(--fc_theme_btn_color_hover);
	}
}

// Disabled Button

button[disabled] {
	background-color: #dddddd;
	color: #999999;
	cursor: not-allowed;
	border: 1px solid #cccccc;
	opacity: 0.6;
}

button[disabled]:hover {
	background-color: #dddddd;
}

.no-visible {
	visibility: hidden;
}

/****
 *
 * 404 page
 *
****/
.not-found {
	text-align: center;
}

.error-404 {
	text-align: center;
	width: 100%;

	.menu {
		margin: 0;
	}

	ul li {
		display: inline-block;
		margin: 0 0 0 20px;
		font-weight: 700;
		padding: 0;

		&::before {
			display: none;
		}

		a {
			padding: 10px;
			border-bottom: 0;

			&:hover {
				color: var(--fc_error_menu_color);
			}
		}

		ul {
			display: none;
		}
	}
}

.form-404 {
	margin: 0 auto 0;
	max-width: 720px;

	form {
		margin: 0;

		label {
			margin: 0;
		}

		input[type="submit"],
		button,
		input[type="button"],
		input[type="reset"] {
			margin: 0 0 0px 10px;
		}
	}

	p {
		margin-bottom: 20px;
	}
}

/**
* Custom Select Styles
**/
.select-dropdown {
	ul.select-dropdown__list {
		display: none;

		&.is-active-dropdown {
			display: block;
		}

		li.select-dropdown__item {
			outline: 2px dotted transparent;

			&:focus,
			&:focus-visible {
				outline-color: black !important;
			}
		}
	}

	.select-dropdown__button {
		&:focus,
		&:focus-visible {
			outline-color: black !important;
		}
	}
}

// Wp perfect image

img {
	&.main-image {
		opacity: 0;
		transition: all 500ms ease-in-out;
	}
}

picture {
	img.loaded {
		opacity: 1;
	}
}

//Cookie style
body {
	#daextlwcnf-revisit-cookie-consent-container {
		background-color: var(--fc_color_primary) !important;
	}

	#daextlwcnf-cookie-notice-button-1,
	#daextlwcnf-cookie-notice-button-2,
	#daextlwcnf-cookie-settings-button-1,
	#daextlwcnf-cookie-settings-button-2 {
		color: var(--fc_theme_btn_color) !important;
		background-color: var(--fc_theme_btn_bgcolor) !important;
		border: 2px solid var(--fc_button_border_color) !important;
		border-radius: 0 !important;
		transition: all 0.3s ease-in-out !important;
		font-family: "Axiforma-Bold", arial, sans-serif !important;
		font-weight: 700 !important;
		text-transform: initial !important;

		&:hover {
			background-color: var(--fc_theme_btn_bgcolor_hover) !important;
			border: 2px solid var(--fc_theme_btn_border_color_hover) !important;
			color: var(--fc_theme_btn_color_hover) !important;
		}
	}

	#daextlwcnf-cookie-notice-button-2,
	#daextlwcnf-cookie-settings-button-2 {
		background-color: var(--fc_transparent) !important;
		color: var(--fc_black_1) !important;

		&:hover {
			border-color: var(--fc_black_1) !important;
		}
	}
}

.loader {
	position: fixed;
	inset: 0;
	background-color: var(--fc_color_primary);
	z-index: 2000;
	height: 100vh;
	transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1);

	&.hide-loader {
		transform: translateX(101%);
	}
}

.loader-inner {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.spinner-text {
	@include font(sour, bold);
	font-size: var(--fc_font_size_180);
	font-weight: 700;
	line-height: 1.2;
	text-transform: uppercase;
	position: relative;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 1px var(--fc_orange_1);
	backface-visibility: hidden;

	&::before,
	&::after {
		content: attr(data-title);
		position: absolute;
		top: 0;
		left: 0;
		-webkit-text-stroke: 1px var(--fc_white);
		-webkit-text-fill-color: var(--fc_white);
		clip-path: inset(0 100% 0 0);
		-webkit-clip-path: inset(0 100% 0 0);
	}

	&::before {
		animation: fill-up 7s cubic-bezier(0.65, 0.05, 0.36, 1) forwards;
	}

	&.spinner-loaded::after {
		clip-path: inset(0 0 0 0);
		-webkit-clip-path: inset(0 0 0 0);
		transition: clip-path 3.5s cubic-bezier(0.65, 0.05, 0.36, 1);
	}
}

@keyframes fill-up {
	to {
		clip-path: inset(0 0 0 0);
		-webkit-clip-path: inset(0 0 0 0);
	}
}

.section-head {
	position: relative;

	.heading-2 {
		color: var(--fc_orange);
	}

	.hero-split-text {
		position: absolute;
		top: -137px;
		left: 6%;
		visibility: visible;
		opacity: 1;
		font-size: var(--fc_font_size_180);
		-webkit-text-fill-color: transparent;
		-webkit-text-stroke-width: 1px;
		font-weight: 700;
		text-transform: uppercase;
		margin: 0;
		@include font(sour, bold);
		font-style: normal;
		letter-spacing: -1.7px;
		width: max-content;
		z-index: -1;
		color: #4c4c4c3b;
	}
}

.iat-image,
.faq-image,
.offering-block-image,
.media-with-text-content-box {
	position: relative;
	overflow: hidden;

	&:after,
	&:before {
		content: "";
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}

	&.iat-image-appear:before {
		animation: iat-image-animation 1.5s cubic-bezier(0.86, 0, 0.07, 1)
			forwards;
	}

	&:before {
		background-color: var(--fc_color_primary);
		z-index: 1;
		transform: translateX(-101%);
	}

	&::after {
		background-color: var(--fc_orange);
		z-index: 2;
		transform: translateX(-101%);
	}

	&.iat-image-appear:after {
		animation: iat-image-animation 1.2s 0.2s cubic-bezier(1, 0, 0.54, 0.99)
			forwards;
	}
}

@keyframes iat-image-animation {
	0% {
		transform: translateX(-101%);
	}

	50% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(101%);
	}
}

.hero-reveal {
	opacity: 0;
	transform: translateY(40px);
}
.banner-content-inner {
	.hero-split-text {
		opacity: 0;
		visibility: hidden;
	}
}
@keyframes heroReveal {
	from {
		opacity: 0;
		transform: translateY(40px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes textReveal {
	from {
		opacity: 0;
		transform: translateX(-40px);
	}

	to {
		opacity: 0.4;
		transform: translateX(0);
		visibility: visible;
	}
}

.hero-slide-item.slick-active,
.hero-project.archive-hero {
	.hero-split-text {
		opacity: 0;
		transform: translateX(-40px);
		animation: textReveal 1.4s cubic-bezier(0.23, 1, 0.32, 1) 0.8s forwards;
	}

	.button-reveal {
		opacity: 0;
		transform: translateY(40px);
		animation: heroReveal 1.4s cubic-bezier(0.23, 1, 0.32, 1) 1.2s forwards;
	}

	.hero-reveal {
		opacity: 0;
		transform: translateY(40px);

		&:nth-child(1) {
			animation: heroReveal 1.4s cubic-bezier(0.23, 1, 0.32, 1) 0.3s
				forwards;
		}

		&:nth-child(2) {
			animation: heroReveal 1.4s cubic-bezier(0.23, 1, 0.32, 1) 0.6s
				forwards;
		}

		&:nth-child(3) {
			animation: heroReveal 1.4s cubic-bezier(0.23, 1, 0.32, 1) 0.9s
				forwards;
		}

		&:nth-child(4) {
			animation: heroReveal 1.4s cubic-bezier(0.23, 1, 0.32, 1) 1.2s
				forwards;
		}
	}
}

.hero-inner-slider.full-width-image {
	.hero-split-text {
		display: inline-block;
		overflow: hidden;
		animation: none;
		opacity: 1;
		transform: initial;

		span {
			display: inline-block;
			transform: translateX(-100%);
			opacity: 0;
			white-space: pre;
		}
	}
}

.word-wrap {
	word-break: break-all;
}

.moove_gdpr_icon {
	svg {
		margin-bottom: 0 !important;
	}
}

// .fuchs-chart-block {
// 	position: relative;
// 	width: 500px;
// 	height: 500px;
// 	margin: 0 auto;
// 	padding: 50px 120px;

// 	#fuchsChart {
// 		width: 100% !important;
// 		height: 100% !important;
// 	}

// 	.chart-center {
// 		position: absolute;
// 		top: 50%;
// 		left: 50%;
// 		transform: translate(-50%, -50%);
// 		text-align: center;

// 		.center-logo {
// 			max-width: 230px;
// 			margin-bottom: 0px;
// 		}

// 	}

// 	.chart-label {
// 		position: absolute;
// 		font-size: var(--fc_font_size_24);
// 		font-weight: 700;
// 		color: #000;
// 	}

// 	.label-top         { top: 0; left: 50%; transform: translateX(-50%); }
// 	.label-top-right   { top: 95px; right: 90px; }
// 	.label-right       { top: 50%; right: -110px; transform: translateY(-50%); }
// 	.label-bottom-right{ bottom: 90px; right: 60px; }
// 	.label-bottom      { bottom: 0; left: 50%; transform: translateX(-50%); }
// 	.label-bottom-left { bottom: 95px; left: 40px; }
// 	.label-left        { top: 50%; left: 0; transform: translateY(-50%); }
// 	.label-top-left    { top: 95px; left: 100px; }
// }
.fuchs-chart-block {
	position: relative;
	width: 500px;
	height: 500px;
	margin: 0 auto;
	padding: 50px 120px;

	#fuchsChart {
		width: 100% !important;
		height: 100% !important;
	}

	.chart-center {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;

		.center-logo {
			max-width: 230px;
			margin-bottom: 0px;
		}
	}

	.chart-label {
		position: absolute;
		font-size: var(--fc_font_size_24);
		font-weight: 700;
		color: #000;
	}

	.label-top {
		top: 0;
		left: 50%;
		transform: translateX(-50%);
	}

	.label-top-right {
		top: 95px;
		right: 90px;
	}

	.label-right {
		top: 50%;
		right: -110px;
		transform: translateY(-50%);
	}

	.label-bottom-right {
		bottom: 90px;
		right: 60px;
	}

	.label-bottom {
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
	}

	.label-bottom-left {
		bottom: 95px;
		left: 40px;
	}

	.label-left {
		top: 50%;
		left: 0;
		transform: translateY(-50%);
	}

	.label-top-left {
		top: 95px;
		left: 100px;
	}

	@media (max-width: 1024px) {
		width: 400px;
		height: 400px;
		padding: 40px 80px;

		.chart-center .center-logo {
			max-width: 180px;
		}

		.label-top-right {
			top: 80px;
			right: 60px;
		}

		.label-right {
			right: -80px;
		}

		.label-bottom-right {
			bottom: 60px;
			right: 40px;
		}

		.label-bottom-left {
			bottom: 60px;
			left: 30px;
		}

		.label-top-left {
			top: 80px;
			left: 70px;
		}
	}

	@media (max-width: 768px) {
		width: 300px;
		height: 300px;
		padding: 30px 50px;

		.chart-center .center-logo {
			max-width: 140px;
		}

		.label-top-right {
			top: 60px;
			right: 40px;
		}

		.label-right {
			right: -60px;
		}

		.label-bottom-right {
			bottom: 40px;
			right: 20px;
		}

		.label-bottom-left {
			bottom: 40px;
			left: 20px;
		}

		.label-top-left {
			top: 60px;
			left: 50px;
		}
	}

	@media (max-width: 480px) {
		width: 200px;
		height: 200px;
		padding: 20px 70px;

		.chart-center .center-logo {
			max-width: 100px;
		}

		.label-top-right {
			top: 50px;
			right: 30px;
		}

		.label-right {
			right: -50px;
		}

		.label-bottom-right {
			bottom: 30px;
			right: 15px;
		}

		.label-bottom-left {
			bottom: 30px;
			left: 15px;
		}

		.label-top-left {
			top: 50px;
			left: 35px;
		}

		.label-right {
			width: 23%;
			word-wrap: break-word;
			right: -12px;
		}

		.chart-label {
			font-size: 15px;
		}
	}
}

.page-template-template-services {
	background-color: var(--fc_color_primary);
	color: var(--fc_white);

	.blog-teaser-slider {
		.slick-arrow {
			&:hover {
				color: var(--fc_black) !important;
				&.slick-next {
					background-color: var(--fc_white);
				}

				&.slick-prev {
					background-color: var(--fc_white);
				}
			}
		}
	}
	.faq-head .heading-5,
	.faq-head .faq-number {
		color: var(--fc_white);
	}
	.faq-head:hover .faq-icon {
		background-color: var(--fc_white);
		svg {
			path,
			rect {
				fill: var(--fc_black);
			}
		}
	}
	.faq-head.active .faq-icon {
		background-color: var(--fc_white);
		svg {
			path,
			rect {
				fill: var(--fc_black);
			}
		}
	}
	h1,
	.heading-1,
	h2,
	.heading-2,
	h3,
	.heading-3,
	h4,
	.heading-4,
	h5,
	.heading-5,
	h6,
	.heading-6,
	.medium-heading {
		color: var(--fc_white);
	}

	.member-popup {
		color: var(--fc_body_color);

		h1,
		.heading-1,
		h2,
		.heading-2,
		h3,
		.heading-3,
		h4,
		.heading-4,
		h5,
		.heading-5,
		h6,
		.heading-6,
		.medium-heading {
			color: var(--fc_color_primary);
		}
	}

	.blog-teaser-slider::before {
		background: var(--fc_color_primary);
	}

	.section-head .hero-split-text {
		color: rgba(255, 255, 255, 0.3);
	}

	.ctn-green {
		padding: 0;
	}

	.resources-post-box,
	.post-archive-box-img {
		border: 0;
		margin-bottom: 20px;
	}

	.post-box-meta a {
		color: var(--fc_white);
	}

	.post-archive-box-title h4 a {
		color: var(--fc_white);
	}

	.service-single-item a .small-text,
	.service-single-item a:visited .small-text {
		color: var(--fc_white);
	}

	.service-single-item a .plus-button,
	.service-single-item a:visited .plus-button {
		color: var(--fc_white);
	}

	.bottom-section-button {
		a,
		a:visited {
			color: var(--fc_white);

			span {
				color: var(--fc_white);
			}
		}
	}

	.services-block {
		padding: var(--fc_space_128) 0;
		box-sizing: border-box;
	}
	.service-single-item {
		a,
		a:visited {
			&:hover {
				background: rgba(255, 255, 255, 0.1);
				backdrop-filter: blur(8px);
				border: 1px solid #e8e8e9;
				border-bottom: 3px solid var(--fc_orange);
				box-shadow: 0 4px 18px rgb(255 255 255 / 5%);
			}
		}
	}
}
