/****
 *
 * containers
 *
****/

.wrapper,
.masonry-gallery-main {
	max-width: 1300px;
	width: 90%;
	margin: 0 auto;

	.ctn-1100 .wrapper {
		max-width: 100%;
	}

	.wrapper {
		width: 100%;
	}
}

.ctn-1100 {
	.wrapper {
		max-width: 1100px;
	}
}

.ctn-1700 {
	.wrapper {
		max-width: 1700px;
	}
}

.ctn-980 {
	.wrapper {
		max-width: 980px;
	}
}

.ctn-760 {
	.wrapper {
		max-width: 760px;
	}
}

.ctn-full-width {
	.wrapper {
		max-width: 100%;
		width: 100%;
	}
}

.ctn-orange {
	background-color: var(--fc_orange);
	padding: var(--fc_space_96) 0;
}

.ctn-white {
	.logo-item-single {
		img {
			filter: initial !important;
		}
	}
	&.no-padding-top {
		padding-top: 0;
	}

	.wrapper {
		.wrapper {
			width: 100%;
		}
	}

	ul {
		li {
			&::before {
				background-color: var(--fc_white) !important;
			}
		}
	}

	background-color: var(--fc_white);
	padding: var(--fc_space_96) 0;

	* {
		color: var(--fc_body_color) !important;
	}

	a.button,
	a.button:visited,
	span.button,
	.is-style-mycustomstyle .wp-element-button {
		background-color: var(--fc_color_primary);
		border-color: var(--fc_color_primary);
		color: var(--fc_white) !important;

		&:hover {
			background-color: var(--fc_white);
			border-color: var(--fc_color_primary);
			color: var(--fc_color_primary) !important;
		}

		&.orange-button {
			background-color: var(--fc_color_primary);
			border-color: var(--fc_color_primary);
			color: var(--fc_white) !important;

			&:hover {
				background-color: var(--fc_white);
				border-color: var(--fc_color_primary);
				color: var(--fc_color_primary) !important;
			}
		}
	}

	.section-head {
		.hero-split-text {
			color: rgb(0 0 0 / 10%) !important;
			z-index: 0;
		}

		.heading-2 {
			color: var(--fc_orange) !important;
			position: relative;
			z-index: 2;
		}
	}
}

.ctn-green {
	background-color: var(--fc_green_dark);
	padding: var(--fc_space_96) 0;

	.section-head {
		.heading-2 {
			color: var(--fc_white);
		}
	}

	a.button,
	a.button:visited,
	span.button,
	.is-style-mycustomstyle .wp-element-button {
		&.orange-button {
			--fc_theme_btn_color: var(--fc_white);
			--fc_theme_btn_bgcolor: var(--fc_transparent);
			--fc_button_border_color: var(--fc_transparent);
			background-color: var(--fc_transparent);
			border-color: var(--fc_white);

			&:hover {
				background-color: var(--fc_white);
				border-color: var(--fc_white);
				color: var(--fc_color_primary);
			}
		}
	}
}

.ctn-orange,
.ctn-green {
	.counter-background {
		z-index: 0;
	}

	.section-head .hero-split-text {
		z-index: 0;
		color: rgb(255 255 255 / 23%);
	}

	.logo-item-single {
		img {
			filter: brightness(0) saturate(100%) invert(100%) sepia(100%)
				saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);

			&:nth-child(2) {
				filter: brightness(0) saturate(100%) invert(100%) sepia(100%)
					saturate(0%) hue-rotate(288deg) brightness(102%)
					contrast(102%);
			}
		}
	}

	.stats-column .small-text {
		color: var(--fc_white);
	}

	.stats-column span {
		color: var(--fc_white);
	}

	* {
		color: var(--fc_white);
	}

	.stats-variation .stats-column .stats-number::before {
		// background-color: var(--fc_white);
		border-color: var(--fc_white);
	}

	.tabbed-map-nav ul li a.active,
	.tabbed-map-nav ul li a:hover,
	.tabbed-map-nav ul li a:visited.active,
	.tabbed-map-nav ul li a:visited:hover {
		color: var(--fc_orange);
	}
}

.ctn-dots {
	background-image: url(../images/default_pattern.png);
}

.ctn-blue-shape {
	background-color: var(--fc_blue);
	color: var(--fc_white);
	background-position: center center;
	padding: var(--fc_space_128) 0;
	box-sizing: border-box;
	background-repeat: no-repeat;
	background-size: cover;

	.heading-2 {
		color: var(--fc_white);
	}
}

.overflow-top-200 {
	margin-top: calc(-1 * var(--fc_space_200));
	padding-top: calc(var(--fc_space_200) + 100px);
	position: relative;
}

.ctn-container-bg {
	position: relative;
	z-index: 1;

	// padding: var(--fc_space_72) 0;
	// box-sizing: border-box;
	.wrapper {
		background-image: url(../images/background-container-shape.png);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		padding: 177px 0;
		// border: 20px solid white;
		// box-shadow: -1px 17px 54px -28px rgba(0, 0, 0, 0.55);
		/* border-radius: 50px; */
		box-sizing: border-box;
	}
}
